.rr3bxd {
    cursor: pointer;
    margin-bottom: -1px;
    padding: 0;
    padding-bottom: 1px;
}
.srp {
    -center-abs-margin: 28px;
}

.eqAnXb {
    font-size: medium;
    font-weight: normal;
}
.e9EfHf {
    font-family: Roboto,arial,sans-serif;
    clear: both;
    margin-left: 0;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}
.gNCp2e {
    color: #e8eaed;
    display: inline-block;
    padding-right: 5px;
}
.wNE31c {
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
}
.wob_df {
    -webkit-transition-duration: 200ms,200ms,200ms;
    -webkit-transition-property: background-image,border,font-weight;
    display: inline-block;
    height: 95px;
    line-height: 1;
    margin-right: 7px;
    text-align: center;
    width: 75px;
    white-space: nowrap;
}
.Z1VzSb {
    color: #e8eaed;
    line-height: 15px;
    padding-top: 7px;
}
.DxhUm {
    display: inline-block;
}
.ZXCv8e {
    display: inline-block;
}
.QrNVmd {
    color: #9aa0a6;
}

